<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ROOM Sensor</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <link href='../static/css.css' rel="stylesheet" />
    <style>
        #accordionSidebar li:hover{
            background-color: rgb(182, 181, 181);
        }
    </style>

</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">

            <li class="nav-item">
                <a class="nav-link" href="/">Početna</a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" href="/dijagrami">Dijagrami</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tablice">Tablice</a>
            </li>

        </ul>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Temperatura</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myChart"></canvas>
					<script>
					var ctx = document.getElementById("myChart").getContext("2d");

					var temp = {{ temp | tojson }};

					var myChart = new Chart(ctx, {
					    type: "bar",
					    data: {
						labels: {{ time | tojson }},
						datasets: [{
						    label: "Temperatura",
						    data: temp,
						    fill: false,
						    backgroundColor: "rgb(255, 99, 132, 0.2)",
						    borderColor: "rgba(255, 99, 132, 1)",
					            borderWidth: 1,
						    lineTension: 0.1
						}]
					    },
					});
					</script>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Vlažnost</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="vlaga"></canvas>
					<script>
					var ctx = document.getElementById("vlaga").getContext("2d");

					var hum = {{ hum | tojson }};

					var vlaga = new Chart(ctx, {
					    type: "bar",
					    data: {
						labels: {{ time | tojson }},
						datasets: [{
						    label: "Vlažnost zraka",
						    data: hum,
						    fill: false,
						    backgroundColor: "rgb(54, 162, 235, 0.2)",
					            borderColor: "rgba(54, 162, 235, 1)",
					            borderWidth: 1,
						    lineTension: 0.1
						}]
					    },
					});
					</script>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

</html>